# 튜플 자료형 

튜플과 리스트는 비슷한 역할을 한다. 가장 큰 차이점은 요소를 변화시킬 수 있는지이다. 리스트의 요소는 프로그램 실행중에 변화가 가능하지만 튜플은 변경이 불가능하다. 그래서 튜플은 insert, remove와 같은 내장함수가 없다. 실제 튜플의 요소를 삭제하거나 변경하려고 하면 에러가 발생한다.

그런데 튜플을 사용하는 이유는 메모리 용량을 아끼고 퍼포먼스 향상을 위해 도움이 되기 때문이다. 실제로 튜플이 리스트보다 빠르다.

## 1. 튜플생성

In [1]:
a = ()
b = (1,2,3)
c = ('Life','is','too short')

## 2. 튜플 인덱스

In [2]:
a = ((0,1,2),
     (3,4,5),
     (6,7,8))

문제. a[0][0] 의 값은 얼마인가?

## 3. 튜플 슬라이싱

투플 슬라이싱은 리스트의 일정구간을 잘라서 가져온다.

In [3]:
a = [1,2,3,4,5]
# a[0:5]는?
a[:5]

[1, 2, 3, 4, 5]

## 4. 튜플 연산

In [4]:
# 튜플에서 특정 값의 인덱스 구하기

a = (1,2,'a', 'b', 3,4,5)
a.index(3)

4

In [5]:
# 특정값의 개수 구하기

a = (1,2,2,3,3,3,3,4)
a.count(3)

4

In [6]:
# 값이 있는지 확인하기

a = (1,2,3)
3 in a

True

In [7]:
a = (3,2,45,5,4)
for i in a:
    print(i, end =' ')

3 2 45 5 4

## 5. zip 사용하기

In [8]:
A = ['SN1111', 'SN1112', 'SN1113']
B = ['COT', 'COT', 'CNT']

for item in zip(A,B):
    print(item)

('SN1111', 'COT')
('SN1112', 'COT')
('SN1113', 'CNT')

In [9]:
A

['SN1111', 'SN1112', 'SN1113']

In [10]:
B

['COT', 'COT', 'CNT']

In [11]:
for sn, shiptype in zip(A,B):
    print(sn, shiptype)

SN1111 COT
SN1112 COT
SN1113 CNT

In [12]:
x=['SN1111', 'COT']

In [13]:
x1, x2 = x

In [14]:
x1

'SN1111'

In [15]:
x2

'COT'

In [16]:
#tuple은 update가 안됨
A = ['SN1111', 'SN1112', 'SN1113']
A[0]

'SN1111'

In [17]:
A[0]='TEST'

In [18]:
A

['TEST', 'SN1112', 'SN1113']