# 집합 자료형
파이썬에서 집합은 set이라는 키워드를 이용하여 생성한다. set로 자료를 만들면 중복된 자료들은 제거하고, 중복되지 않은 자료들만 유지해 준다. set은 집합에 관련된 연산을 쉽게 처리하며 어떤 값이 있는지 확인하기 위해 해쉬테이블 인덱스를 활용하기 때문에 리스트에 비해 빠른 속도로 값을 찾아준다.

In [1]:
names =(set(("김","김","이","이","이","박")))
names

{'김', '박', '이'}

## 1. set 생성

In [2]:
a = set([1,2,3,2,3])
a = list({1,2,3})
a[0]

1

In [3]:
#빈 set 생성은 다음과 같이 할수도 있다.

a = set()

## 2. set 인덱스

In [4]:
# set는 인덱싱(인덱스를 만드는 것)이 되지 않는다. 그래서 list나 tuple로 변경해서 접근해야 한다.
a = set([1,2,3])
a = list(a)
a[0]

1

## 3. set 연산

In [5]:
# 교집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1.intersection(s2)

{4, 5, 6}

In [6]:
s1 & s2

{4, 5, 6}

In [7]:
# 합집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1.union(s2) 
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
# 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1.difference(s2) 
s1 - s2

{1, 2, 3}

## 4. set 조작

In [9]:
# set 검색
a = {1,2,3}
2 in a

True

In [10]:
# set 요소 삭제
a = set([1,2,3,4,5])
a.remove(2)
a

{1, 3, 4, 5}

In [11]:
#set 요소 추가
a = {1,2,3,4,5}
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [12]:
# set 여러요소 추가하기
a = set([1,2,3])
a.update([4,5,6])
a

{1, 2, 3, 4, 5, 6}

In [13]:
# set 특정값 제거하기
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}